extends ../layout

block content
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

  style.
    img {
      max-height: 50vh;
    }

  h3 #{book.title}

  .row.white-round-div
    .col-md-4
      img(src=book.image)
    .col-md-8
  
      p #[strong Auteur:] 
        a(href=book.author.url) #{book.author.name}

      p #[strong Publié:] #{book.published_date}
      p #[strong Résumé:] #{book.summary}

      p
        each tag in book.tag
          span #{tag.name}, &nbsp;

      if note == null
        p
          a(href='../../library/note/create') Nouvelle note
      else 
        p
          a(href=note.url) Lire la note

      p
        a(href=book.url+'/update') Mettre à jour
